<article class="post">
    <div class="title card-header">
        <a href="/post/{{id}}">{{title}}</a>
        <span>Posted by {{user.username}} on {{format_date created_at}}</span>
    </div>

    <div class="meta card-body">
        {{post_text}}
        <span class="comment-count"><a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a></span>
    </div>
</article>