<article>
  <a href="/dashboard" class="btn-back"> &larr; Back to Dashboard</a>
  <section class="card">
    <h2 class="card-header">
      Edit Post
    </h2>
    <form class="edit-post-form card-body">
      <div>
        <div>
          <label for="post-title" class="form-label">Title</label>
          <input name="post-title" type="text" class="form-input form-input-title" value="{{post.title}}" />
        </div>
        <div>
                <label for="post-text" class="form-label">Text</label>
          <textarea class="form-input" id="post-text" name="post-text">{{post.post_text}}</textarea>
        </div>
      </div>
      <button type="submit" class="btn">Save Post</button>
      <button type="button" class="delete-post-btn btn">Delete Post</button>
      <div class="comment-count">
        Posted on {{format_date post.created_at}}
        |
        <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
      </div>
    </form>
  </section>
</article>

{{> comment-form}}

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>